{% extends 'base.html.twig' %}

{% block title 'Edit Pin #'~pin.id %}


{% block body %}
    {{ parent() }}

    <h1>Edit a pin</h1>

    {{ form_start(form)}}
    {{ form_widget(form)}}
    <input type="submit" value="Update pin">
    {{ form_end(form)}}

{% endblock %}

