{% extends 'base.html.twig' %}

{% block title 'Edit Pin #'~pin.id %}


{% block body %}
    {{ parent() }}

    <h1>Edit a pin</h1>

    {{ include('pins/_form.html.twig',{submitButton : 'Update Pin'}) }}


{% endblock %}

