<footer class="text-center container mt-5">
    <p class="text-muted">
        <small>
            &copy; {{ 'now' | date('Y') }}&middot;
            Built with <span class="text-danger">&hearts;</span> by
            <a href="https://fr.linkedin.com/in/houssem-sakher">Houssem SAKHER</a>
        </small>
    </p>

</footer>